NEXT_PUBLIC_SUPABASE_URL=https://jczyxzaqfdmsqoanrkij.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_cbtZJSHZ6QqCrzHDvBVAVQ_HmZd0ql_
SUPABASE_SERVICE_ROLE_KEY=
STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SITE_URL=http://localhost:3000 # Change in production